{% extends 'index.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <!-- Services Section -->
    <section class="services-section">
        <div class="container">
            <h2>Why Contact us?</h2>
            <p>We offer a wide range of engineering services in Oceania. Our experienced team is ready to take on challenging projects and deliver high-quality solutions.</p>
            <!-- Add more content about your services -->
        </div>
    </section>

    <!-- About Section -->
    <section class="about-section">
        <div class="container">
            <!-- <h2>Our Engineers</h2> -->
            <p>Oceania Engineering Services is a leading engineering company dedicated to providing innovative solutions for various industries in the Oceania region. Our expertise spans across multiple disciplines, including civil, mechanical, and electrical engineering.</p>
            <!-- Add more content about your company -->
        </div>
    </section>

    <!-- Contact Form -->
    <section class="contact-section">
        <div class="container">
            <h2>Ready to help!</h2>
            <form method="post" action="{{ url_for('submit') }}">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" placeholder=" name" required>
                        </div>
                        <div class="form-group">
                            <label for="email"> Email:</label>
                            <input  type="email" id="email" name="email" placeholder=" email" required>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject:</label>
                            <input type="text" id="subject" name="subject" placeholder="4m" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" rows="4" required></textarea>   
                        </div>
                        
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
            </div>
        
    </section>

        <!-- About Section -->
    <section class="about-section">
        <div class="container">
            <h2>About Us</h2>
            <p>Oceania Engineering Services is a leading engineering company dedicated to providing innovative solutions for various industries in the Oceania region. Our expertise spans across multiple disciplines, including civil, mechanical, and electrical engineering.</p>
            <!-- Add more content about your company -->
        </div>
    </section>
    {% endblock %}