<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        
    <!-- Add the favicon link tag -->
    <link rel="icon" href="{{ url_for('static', filename='images/gpteng.png') }}" type="image/x-icon">
    <title>{% block title %}BeachEngineer{% endblock %}</title>
</head>
<body>


    <div class="loader-wrapper" id="loader">
        <div class="scene">
            <div class="cube-wrapper">
              <div class="cube">
                <div class="cube-faces">
                  <div class="cube-face shadow"></div>
                  <div class="cube-face bottom"></div>
                  <div class="cube-face top"></div>
                  <div class="cube-face left"></div>
                  <div class="cube-face right"></div>
                  <div class="cube-face back"></div>
                  <div class="cube-face front"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Sliding Image (Carousel) -->
    {% block content %}
    <section class="carousel-section">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Slides -->
            <div class="carousel-inner">
                <!-- First Slide -->
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/carousel.png') }}" alt="Image 1">
                </div>

                <!-- Second Slide -->
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/Capture.png') }}" alt="Image 2">
                </div>

                   <!-- Third Slide -->
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/carousel_colored.png') }}" alt="Image 2">
                </div>
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            
            
        </div>
    </section>



    <!-- Services Section -->
    <section class="services-section">
        <div class="container">
            <h2>Excellence in Engineering Services:</h2>
            <p>At BeachEngineer, our comprehensive services span civil and software engineering. From designing sustainable infrastructures to crafting cutting-edge solutions, we cater to diverse projects with precision and innovation. Expect top-tier expertise, client-centricity, and exceptional results for all your engineering needs.</p>
        </div>
    </section>

    <!-- About Section -->
    <section class="about-section">
        <div class="container">
            <h2>Meet Our Engineers:</h2>
            <p>Our skilled civil engineers create resilient infrastructures, while our software engineers innovate cutting-edge solutions. With a client-centric approach, we deliver excellence across diverse projects, exceeding expectations. Partner with BeachEngineer for world-class engineering solutions.</p>
        </div>
    </section>

    <!-- Contact Form -->
    <section class="services-section" style="padding: 27px;">
        <div class="container">
            <h2>Calculate & get your report</h2>
        </div>
    </section>
    <section class="contact-section" style="padding-top:0px;">
        
        <div class="contact-sectionInner">
            
            <form id="form" >
                <div class="ZTbholder">
                    <div class="ZTbchildOne">
                        <label class="labelSpecific">Design Specific:</label><br/>
                        <div class="form-group">
                            <label for="bulkhead">Bulkhead height above mean waterline:</label>
                            <input class="calTextbox" type="text" id="bulkhead" name="bulkhead" placeholder=" 0.66m" required>
                        </div>
                        <div class="form-group">
                            <label for="wDb"> Water depth at bulkhead:</label>
                            <input class="calTextbox" type="text" id="wDb" name="wDb" placeholder=" 2.33m" required>
                        </div>
                        <div class="form-group">
                            <label for="sheetingD">Sheeting depth:</label>
                            <input class="calTextbox" type="text" id="sheetingD" name="sheetingD" placeholder="4m" required>
                        </div>
                        <div class="form-group">
                            <label for="pileD">Pile depth:</label>
                            <input class="calTextbox" type="text" id="pileD" name="pileD" placeholder="4m" required>
                            <!-- <textarea id="message" name="message" rows="4" required></textarea> -->   
                        </div>
                        </div>
                    <div class="ZTbchildTwo">
                        <label class="labelSpecific">Location Specific:</label><br/>
                        <div class="form-group">
                            <label for="stormS">Storm surge max:</label>
                            <input class="calTextbox" type="text" id="stormS" name="stormS" placeholder=" 4 feet" required>
                        </div>
                        <div class="form-group">
                            <label for="rainF">Rainfall max:</label>
                            <input class="calTextbox" type="text" id="rainF" name="rainF" placeholder=" 3 feet" required>
                            <!-- <textarea id="message" name="message" rows="4" required></textarea> -->   
                        </div>
                        <div class="form-group">
                            <label for="tidalR">Tidal range:</label>
                            <input class="calTextbox" type="range" id="tidalR" name="tidalR" placeholder=" ±1.1 feet" required>
                        </div>
                        <div class="form-group">
                            <label for="soil">Soil:</label>
                            <input class="calTextbox" type="text" id="soil" name="soil" placeholder="sand" required>
                            <!-- <textarea id="message" name="message" rows="4" required></textarea> -->   
                        </div>
                    </div>
                    
                </div>
                <div >
                    <div class="form-group max-wid">
                        <!-- <label for="message">:</label> -->
                        <input type="email" id="email" name="email" placeholder="BeachEngineering@gmail.com" required>
                        <!-- <textarea id="message" name="message" rows="4" required></textarea> -->   
                        <p style="color: red;text-align: center;display: none;">Failed,please try again!</p> 
                    </div>
                    <div class="form-group max-wid">
                        <button type="button" onclick="submitForm()">Submit</button>
                    </div>
                </div>
               

            </form>
        </div>
        <div class="formula-section">
        <!-- <img src="{{ url_for('static', filename='images/formula.png') }}">
        <img src="{{ url_for('static', filename='images/formula4.png') }}">
        <img src="{{ url_for('static', filename='images/formula3.png') }}"> -->
            <div>
                <h3>Engineers:</h3>
                <p>Our engineers will review your needs to deliver innovative and tailored engineering solutions.</p>
            </div>
            <div>
                <h3>GPT:</h3>
                <p>Our GPT will assess your requirements to offer customized and cutting-edge engineering solutions. Trust our expertise!</p>
            </div>
            <div>
                <h3>Delivering Success:</h3>
                <p>Receive your personalized PDF report via email, outlining cutting-edge engineering solutions for your project.</p>
            </div>
        </div>
    </section>

        <!-- About Section -->
    <section class="about-section">
        <div class="container">
            <h2>Coastal Engineering Solutions: BeachEngineer</h2>
            <p>At BeachEngineer, civil engineering takes center stage as we strive to create resilient and sustainable infrastructures for near-ocean areas. Our team of dedicated experts focuses on coastal protection, erosion control, and waterfront developments. With our deep understanding of coastal dynamics, we deliver innovative and client-centric solutions to enhance coastal living. Partner with BeachEngineer for excellence in coastal civil engineering.</p>

        </div>
    </section>

    <section class="services-section">
        <div class="container">
            <h2>Oceanfront Engineering Specialists:</h2>
            <p>Discover the epitome of engineering excellence at BeachEngineer, where the shore becomes our canvas. As oceanfront engineering specialists, we embrace the unique challenges of coastal regions. From ingenious coastal protection systems that withstand nature's forces to harmonious waterfront developments, our team pioneers cutting-edge solutions. With sustainability and client satisfaction at our core, BeachEngineer transforms the coastal landscape, creating resilient havens for communities. Experience coastal living elevated to new heights with our expert touch and innovation. Trust BeachEngineer, your partners in shaping the future of oceanfront environments.</p>
        </div>
    </section>
    
    {% endblock %}
    <!-- Footer -->
    {% include 'footer.html' %}
    
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>
