{% extends 'index.html' %}

{% block title %}Thank you{% endblock %}

{% block content %}
    <!-- Services Section -->
    <section class="services-section">
        <div class="container">
            <h2>Thank you we have calculated and send your report to your email</h2>
            <!-- Add more content about your services -->
        </div>
    </section>

        <!-- About Section -->
    <section class="about-section">
        <div class="container">
            <h2>About Us</h2>
            <div class="thanksdiv">
                <div>
                    <p>Oceania Engineering Services is a leading engineering company dedicated to providing innovative solutions for various industries in the Oceania region. Our expertise spans across multiple disciplines, including civil, mechanical, and electrical engineering.</p>
            <!-- Add more content about your company -->
                </div>
                <div>
                    <img src="{{ url_for('static', filename='images/gpteng.png') }}" alt="Logo" width="128px">
                </div>
            </div>
        </div>
    </section>

    <section class="services-section">
        <div class="container">
            <!-- <h2>BeachEngineering</h2>
            <p>We offer a wide range of engineering services in Oceania. Our experienced team is ready to take on challenging projects and deliver high-quality solutions.</p>
            Add more content about your services -->
        </div>
    </section>

    
{% endblock %}
   